@font-face {
  font-family: "openSans";
  src: url("assets/font/OpenSans-Regular.woff") format("woff");
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "openSans", Arial, sans-serif;
}

::selection {
  background-color: rgb(var(--text-color), 0.1);
}

:root {
  --text-color: 50, 50, 50;
  --black-stroke: 11, 11, 11;
  --white-stroke: 255, 255, 255;
  --a11y-access-color: 253 224 71;
}

a {
  outline: none;
  padding: 0 2px;
  font-weight: 600;
  color: var(--text-color);
  text-underline-offset: 2px;
  text-decoration-color: rgb(var(--text-color));
  cursor: url("assets/images/buttonCursor.png"), pointer;
}

a:hover {
  color: rgb(var(--black-stroke));
  text-decoration-thickness: 1.5px;
  text-decoration-color: rgb(var(--black-stroke));
}
a:focus-visible {
  text-decoration-thickness: 1.5px;
  background-color: rgb(var(--a11y-access-color));
}

body {
  font-size: 0.92rem;
  background-size: cover;
  color: rgb(var(--text-color));
  background-repeat: no-repeat;
  cursor: url("assets/images/textCursor.png"), auto;
  background-image: url("assets/images/compBgImage.png");
}

.wrapper {
  padding: 1rem;
  margin: 0 auto;
  max-width: 630px;
  min-height: 100dvh;
  background-color: rgba(var(--white-stroke), 0.3);
}

.wrapper nav img {
  opacity: 0.5;
  user-select: none;
}

nav a {
  padding: 0;
}

nav a:focus-visible {
  outline-offset: 4px;
  background-color: transparent;
  outline: 2px solid rgb(var(--text-color));
}

main {
  gap: 1rem;
  display: grid;
  margin: 4rem 0 2rem 0;
}

main img {
  --_size: 100px;
  object-fit: cover;
  width: var(--_size);
  height: var(--_size);
  transform-origin: 0% 0%;
  transition: all 0.15s ease-out;
  border: 3.5px solid rgba(var(--white-stroke));
  box-shadow: 2px 2px 12px rgba(var(--black-stroke), 0.1),
    -2px -2px 12px rgba(var(--black-stroke), 0.1);
}

main img:hover,
main img:focus-visible {
  scale: 2.5;
  z-index: 10;
}

body:has(img:hover, img:focus-visible) :is(section, footer, nav, h1) {
  filter: blur(6px);
  pointer-events: none;
}

main h1 {
  font-size: inherit;
  font-weight: 500;
  text-wrap: balance;
}

main h1 #name {
  font-weight: 700;
  font-size: 1.15rem;
  color: rgb(var(--black-stroke));
}

main h1 .blink {
  animation: blink 0.5s linear infinite alternate;
}

@keyframes blink {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

section {
  gap: 1rem;
  display: grid;
  text-wrap: pretty;
  line-height: 150%;
}

section abbr {
  text-underline-offset: 2px;
}

footer {
  margin-top: 2rem;
}

footer div {
  gap: 0.4rem;
  display: grid;
}

footer .otherLinks {
  gap: 0.2rem;
  display: inline-flex;
}

footer #resumeAsset {
  display: none;
}

footer button {
  outline: none;
  cursor: pointer;
  font-size: unset;
  user-select: none;
  font-family: unset;
  margin-bottom: 2rem;
  padding: 0.35rem 1rem;
  color: rgb(var(--white-stroke));
  outline: 2px solid transparent;
  transition: box-shadow 0.1s linear;
  border: 2px solid rgb(var(--text-color));
  background-color: rgb(var(--text-color));
  cursor: url("assets/images/buttonCursor.png"), pointer;
}

footer button:hover,
button:focus-visible {
  box-shadow: rgba(var(--text-color), 0.4) 5px 5px,
    rgba(var(--text-color), 0.1) 10px 10px;
}

footer button:active {
  --_offset: 2px;
  transform: translate(var(--_offset), var(--_offset));
}

footer b {
  display: none;
}
